<h1>Scores voor {{ date.format('d-m-Y') }}</h1>
<table style="border-collapse: collapse; cell-spa">
    <tr>
        <td style="border: 1px solid black; padding: 5px;"> </td>
        {% for player in players %}
            <td style="border: 1px solid black; padding: 5px;">{{ player.name }}</td>
        {% endfor %}
    </tr>
    {% for homePlayer in players %}
        <tr>
            <td style="border: 1px solid black; padding: 5px;">{{ homePlayer.name }}</td>
            {% for awayPlayer in players %}
                <td style="border: 1px solid black; padding: 5px;">
                    {% if homePlayer.id == awayPlayer.id %}
                        ---
                    {% elseif matches[homePlayer.id][awayPlayer.id] is defined %}
                        {{ matches[homePlayer.id][awayPlayer.id] }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<hr>

<table style="border-collapse: collapse;, " >
    {% for standing in standings %}
        <tr>
            <td style="border: 1px solid black; padding: 5px;">{{ standing.userName }}</td>
            <td style="border: 1px solid black; padding: 5px;">{{ standing.played }}</td>
            <td style="border: 1px solid black; padding: 5px;">{{ standing.won }}</td>
            <td style="border: 1px solid black; padding: 5px;">{{ standing.lost }}</td>
            <td style="border: 1px solid black; padding: 5px;">{{ standing.scored }}</td>
            <td style="border: 1px solid black; padding: 5px;">{{ standing.conceded }}</td>
            <td style="border: 1px solid black; padding: 5px;">{{ standing.goalDifference }}</td>
        </tr>
    {% endfor %}
</table>

