<section class="scores-form">
    <header><h1>{{ 'scores.title'|trans }}</h1></header>
    <form method="post" action="{{ path('competition_scores_savescores', {'round': round.id}) }}" class="standings-form">
        <table class="foosball-table form-table">
            <tr>
                <th class="table-head first empty"></th>
                {% for player in players %}
                    <th class="table-head username">{{ player.name }}</th>
                {% endfor %}
            </tr>
            {% for homePlayer in players %}
                <tr>
                    <td>{{ homePlayer.name }}</td>
                    {% for awayPlayer in players %}
                        {% if homePlayer.id == awayPlayer.id %}
                            <td class="imposible-field">&nbsp;</td>
                        {% else %}
                            <td class="score-field">
                                <input
                                    type="text"
                                    name="result[{{ homePlayer.id }}][{{ awayPlayer.id }}]"
                                    value="{% if matches[homePlayer.id][awayPlayer.id] is defined %}{{ matches[homePlayer.id][awayPlayer.id] }}{% endif %}"
                                >
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div class="button-row">
            <input type="hidden" name="round" value="{{ round.id }}">
            <input type="hidden" name="date" value="{{ date.format('Ymd') }}">
            <button type="submit" class="button submit-button">Update scores</button>
        </div>
    </form>
</section>
