<h2>Uitslagen</h2>
<form method="post" action="{{ path('competition_scores_save') }}">
    <table style="border-collapse: collapse; cell-spa">
        <tr>
            <td style="border: 1px solid black; padding: 5px;"> </td>
            {% for player in players %}
                <td style="border: 1px solid black; padding: 5px;">{{ player.name }}</td>
            {% endfor %}
        </tr>
        {% for homePlayer in players %}
            <tr>
                <td style="border: 1px solid black; padding: 5px;">{{ homePlayer.name }}</td>
                {% for awayPlayer in players %}
                    <td style="border: 1px solid black; padding: 5px;">
                        {% if homePlayer.id == awayPlayer.id %}
                            ---
                        {% else  %}
                            <input
                                style="width: 50px;"
                                type="text"
                                name="result[{{ homePlayer.id }}][{{ awayPlayer.id }}]"
                                value="{% if matches[homePlayer.id][awayPlayer.id] is defined %}{{ matches[homePlayer.id][awayPlayer.id]}}{% endif %}"
                            >
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <input type="hidden" name="date" value="{{ date.format('Ymd') }}">
    <input type="submit" value="Update">
</form>