<section class="standings-table">
    <header><h1>Stand</h1></header>
    <table class="foosball-table standings-table">
        <tr>
            <th class="label first empty"></th>
            <th class="label name"><span>{{ 'standings.played'|trans }}</span></th>
            <th class="label won"><span>{{ 'standings.won'|trans }}</span></th>
            <th class="label lost"><span>{{ 'standings.lost'|trans }}</span></th>
            <th class="label scored"><span>{{ 'standings.scored'|trans }}</span></th>
            <th class="label conceded"><span>{{ 'standings.conceded'|trans }}</span></th>
            <th class="label goal-difference"><span>{{ 'standings.goalDifference'|trans }}</span></th>
        </tr>
        {% for standing in standings %}
            <tr>
                <td class="value name">{{ standing.userName }}</td>
                <td class="value played">{{ standing.played }}</td>
                <td class="value won">{{ standing.won }}</td>
                <td class="value lost">{{ standing.lost }}</td>
                <td class="value scored">{{ standing.scored }}</td>
                <td class="value conceded">{{ standing.conceded }}</td>
                <td class="value goal-difference{% if(standing.goalDifference < 0) %} negative{% endif %}">{{ standing.goalDifference }}</td>
            </tr>
        {% endfor %}
    </table>
</section>